{{* $Id: tc_100_ps.htm  $ *}}
<html>
<meta http-equiv="Content-Type" content="text/html; Charset=Big5">
<head>
<title>新生入學一覽表</title>
</head>
<body>

<p style="margin-bottom:0cm;margin-bottom:.0001pt">
<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">&nbsp;</span></p>
<p style="margin-bottom:0cm;margin-bottom:.0001pt">
<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">&nbsp;</span></p>
<p style="margin-left: 28.3pt; margin-right: 0cm; margin-top: 5.0pt; margin-bottom: .0001pt">
<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">{{$st->year}}</span><span style="font-size:22.0pt;font-family:標楷體">學年度</span></p>
<p align="center" style="text-align:center">
<span lang="EN-US" style="font-size:
36.0pt;font-family:標楷體">&nbsp;</span></p>
<p align="center" style="text-align:center">
<span lang="EN-US" style="font-size:
36.0pt;font-family:標楷體">&nbsp;</span></p>
<p align="center" style="text-align:center">
<span lang="EN-US" style="font-size:
36.0pt;font-family:標楷體">&nbsp;</span></p>
<div align="center">
	<table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none; margin-left: 76.3pt" id="table1">
		<tr style="height: 91.25pt">
			<td width="510" style="width:382.7pt;border:solid windowtext 2.25pt;padding:
  0cm 5.4pt 0cm 5.4pt;height:91.25pt">
			<p align="center" style="text-align:center">
			<span style="font-size:36.0pt;
  font-family:標楷體">新生入學學生一覽表</span></td>
		</tr>
	</table>
</div>
<p align="center" style="text-align:center">
<span lang="EN-US" style="font-size:
36.0pt;font-family:標楷體">&nbsp;</span></p>
<p align="center" style="text-align:center">
<span lang="EN-US" style="font-size:
36.0pt;font-family:標楷體">&nbsp;</span></p>
<p align="right" style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:right">
<span lang="EN-US" style="font-size:22.0pt;font-family:標楷體">&nbsp;</span></p>
<p class="MsoNormal" align="right">
<span style="font-size: 22.0pt; font-family: 標楷體">{{$SCHOOL}}</span></p>


<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">
<br clear="all" style="page-break-before: always">
　</span><p class="MsoNormal" align="right" style="text-align:right">
<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">&nbsp;</span></p>
<p class="MsoNormal" align="right" style="text-align:right">
<span lang="EN-US" style="font-size: 22.0pt; font-family: 標楷體">&nbsp;</span></p>
<p class="MsoNormal" align="center" style="text-align:center">
<span style="font-size:24.0pt;font-family:標楷體">{{$SCHOOL}}</span></p>
<p class="MsoNormal" align="center" style="text-align:center">
<span lang="EN-US" style="font-size:24.0pt;font-family:標楷體">{{$st->year}}學年度新生入學學生一覽表</span></p>
<p class="MsoNormal">
<span lang="EN-US" style="font-size:24.0pt;font-family:標楷體">&nbsp;</span></p>
<table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="100%" style="width: 482.4pt; border-collapse: collapse; border: medium none" id="table2" align="center">
	<tr>
		<td width="225" style="width: 168.45pt; border-left: 1.5pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: 1.5pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm; background: #C6D9F1">
		<p class="MsoNormal" align="center" style="text-align:center">
		<span style="font-size: 20.0pt; font-family: 標楷體">項　　　目</span></td>
		<td width="212" style="width: 159.0pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.5pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm; background: #C6D9F1">
		<p class="MsoNormal" align="center" style="text-align:center">
		<span style="font-size: 20.0pt; font-family: 標楷體">人　數</span></td>
		<td width="207" style="width: 154.95pt; border-left: medium none; border-right: 1.5pt solid windowtext; border-top: 1.5pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm; background: #C6D9F1">
		<p class="MsoNormal" align="center" style="text-align:center">
		<span style="font-size: 20.0pt; font-family: 標楷體">備<span lang="EN-US">&nbsp;
		</span>　註</span></td>
	</tr>
	<tr style="height: 37.3pt">
		<td width="225" valign="top" style="width: 168.45pt; height: 37.3pt; border-left: 1.5pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal"><span style="font-size:16.0pt;font-family:標楷體">
		一、入學新生總人數</span></td>
		<td width="212" valign="top" style="width: 159.0pt; height: 37.3pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" align="right" style="text-align: right; margin-right: 11.75pt">
		<span style="font-size:16.0pt;font-family:標楷體">人</span></td>
		<td width="207" style="width: 154.95pt; height: 37.3pt; border-left: medium none; border-right: 1.5pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
		<span style="font-size:14.0pt;font-family:標楷體">請填寫實際入學人數</span></td>
	</tr>
	<tr style="height: 62.65pt">
		<td width="225" valign="top" style="width: 168.45pt; height: 62.65pt; border-left: 1.5pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal"><span style="font-size:16.0pt;font-family:標楷體">
		二、滿六足歲<span lang="EN-US"><br>
		</span>　　而尚未入學人數</span></td>
		<td width="212" valign="top" style="width: 159.0pt; height: 62.65pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" align="right" style="text-align: right; margin-right: 11.75pt">
		<span style="font-size:16.0pt;font-family:標楷體">人</span></td>
		<td width="207" valign="top" style="width: 154.95pt; height: 62.65pt; border-left: medium none; border-right: 1.5pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal"><span style="font-size:14.0pt;font-family:標楷體">
		無本項情形者請填<span lang="EN-US">0</span></span></td>
	</tr>
	<tr>
		<td width="225" valign="top" style="width: 168.45pt; border-left: 1.5pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" style="text-indent: -32.0pt; margin-left: 32.0pt">
		<span style="font-size:16.0pt;font-family:標楷體">三、滿六足歲而尚未入學人數是否通報強迫入學委員會</span></td>
		<td width="212" valign="top" style="width: 159.0pt; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal"><span style="font-size:16.0pt;font-family:標楷體">□是　</span></p>
		<p class="MsoNormal">
		<span lang="EN-US" style="font-size:16.0pt;font-family:標楷體">&nbsp;</span></p>
		<p class="MsoNormal"><span style="font-size:16.0pt;font-family:標楷體">□否（</span><span style="font-family: 標楷體">原因：<u><span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		&nbsp;&nbsp;</span></u></span></p>
		<p class="MsoNormal"><u><span lang="EN-US" style="font-family: 標楷體">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u></p>
		<p class="MsoNormal"><u><span lang="EN-US" style="font-family: 標楷體">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="font-size:16.0pt;font-family:標楷體">）</span></td>
		<td width="207" valign="top" style="width: 154.95pt; border-left: medium none; border-right: 1.5pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" style="text-indent: -18.0pt; margin-left: 18.0pt">
		<span lang="EN-US" style="font-size: 14.0pt; font-family: Wingdings">n<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
		</span></span><span style="font-size:14.0pt;font-family:標楷體">
		有本項情形者，請在□中勾選</span></p>
		<p class="MsoNormal" style="text-indent: -18.0pt; margin-left: 18.0pt">
		<span lang="EN-US" style="font-size: 14.0pt; font-family: Wingdings">n<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
		</span></span><span style="font-size:14.0pt;font-family:標楷體">無本項情形者，免勾選</span></td>
	</tr>
	<tr style="height: 45.5pt">
		<td width="225" style="width: 168.45pt; height: 45.5pt; border-left: 1.5pt solid windowtext; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.5pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" align="center" style="text-align:center">
		<span style="font-size:16.0pt;font-family:標楷體">造冊日期</span></td>
		<td width="419" colspan="2" style="width: 313.95pt; height: 45.5pt; border-left: medium none; border-right: 1.5pt solid windowtext; border-top: medium none; border-bottom: 1.5pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm">
		<p class="MsoNormal" align="right" style="text-align: right; margin-right: 10.8pt">
		<span style="font-size:16.0pt;font-family:標楷體">年　　　　　月　　　　日　</span></td>
	</tr>
</table>
<p class="MsoNormal">
<span lang="EN-US" style="font-size:24.0pt;font-family:標楷體">&nbsp;</span></p>
<p class="MsoNormal">
<span lang="EN-US" style="font-size:24.0pt;font-family:標楷體">&nbsp;</span></p>
<p class="MsoNormal"><span style="font-size:16.0pt;font-family:標楷體">承辦人：<span lang="EN-US">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>教務主任：<span lang="EN-US">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>校長：
<br clear="all" style="page-break-before: always">

{{foreach from=$st->get_all()  item=arr}}
<table width="100%" cellpadding="1" cellspacing="1" align="center">
<tr align="center"><td><span style="font-size: 18.0pt; font-family: 標楷體">{{$SCHOOL}}<br>{{$st->year}}學年度新生入學學生名冊</span></td></tr>
<tr align="right"><td>{{$st->year}}年{{$smarty.now|date_format:"%m"}}月填報</td></tr>
</table>

<table align=center width=100% border='2' cellpadding='5' cellspacing='0' style='border-collapse: collapse' bordercolor='#111111'>
<tr align="center" bgcolor="#DAEEF3">
<td width="10%">學號</td>
<td width="16%">姓　名</td>
<td width="8%">性別</td>
<td width="18%">身分證字號</td>
<td width="18%">出生年月日</td>
<td width="36%">備　　　　註</td>
</tr>

{{foreach from=$arr.stu  item=stu}}

<tr align="center" bgcolor="White" style=" line-height:30px;font-size:11pt">
<td>{{$stu.stud_id}}</td>
<td>{{$stu.stud_name}}</td>
<td>{{$st->sex($stu.stud_sex)}}</td>
<td>{{$stu.stud_person_id}}</td>
<td>{{$st->bir($stu.stud_birthday)}}</td>
<td>{{$st->memo}}</td>
</tr>

{{/foreach}}

</table>
<table  width="99%"  cellpadding="1" cellspacing="1" align="center" style="font-size:10pt">
<tr align="right"><TD>第{{$arr.now}}頁，共{{$st->tol_page}}頁。　本頁共 {{$arr.page_tol}}人</TD></tr>
</table>
{{if $arr.break_line=='yes'}}<br clear="all" style="page-break-before: always">{{/if}}

{{/foreach}}

</body>
</html>