<table width="97%" border="0" cellspacing="2" cellpadding="4" > 
<tr >     
    <td width="60%" rowspan="3"  > <h1><{$paper_doc.title}></h1></td> 
    <td ><h2><{$paper_doc.classname}><{$paper_doc.author}></h2></td></tr> 
    <td ><h2>家長:<{$paper_doc.parent}></td></h2></tr> 
    <td ><h2>指導老師:<{$paper_doc.teacher}></h2></td>
</tr> 


<tr> 
<td colspan="2" >
  <p align="center"><img src="<{$htmlpath}><{$paper_doc.pic_name}>" border="1"> </p>  
  
</td> 
</tr> 

 <tr>
    <td colspan="2" > 
      <div align="center" class="text"><a href="javascript:history.go(-1)">回上頁</a></div>
    </td>
 </tr>
</table>