{{include file="$SFS_TEMPLATE/header.tpl"}}
{{include file="$SFS_TEMPLATE/menu.tpl"}}

<TABLE width='650'  border='0'>
<TR><TD align=left>

壹、依據：<br />

<p>
　一、教育部國民小學及國民中學學生成績評量準則第十條與第十一條。<br>
　二、各縣市訂定之成績評量要點或相關規定。
</p>

貳、說明：<br />

<ol>
<li>補行評量及格者該學習領域以60分採計。</li>
<li>補行評量不及格者，該學習領域成績就補行評量成績與原成績擇優登錄。</li>
<li>登錄至分科時，高於60分之分科成績不更動，低於60分之分科依原分數比例登錄且不超過60分。</li>
</ol>

<br />
參、模組操作說明<br />

<b>1.學期不及格名冊：</b><br />

<blockquote>(1)選「<b>篩選學生-學期</b>」   (2)選「<b>年級</b>」   (3)選「<b>處理學期-學期</b>」<br />  (4)按「<b>開始篩選</b>」篩選出應進行補行評量學生<br />  (5)先點選領域再按「<b>匯出CSV</b>」則可匯出該領域成績輸入表單<br />  (6)最後要記得按下方的「<b>將篩選出學生列入補行評量名冊</b>」</blockquote>
<img src='images/01.jpg' width='640'><br /><br /><br />
<img src='images/01-1.jpg' width='640'><br /><br /><br />
<b>2.成績輸入：</b><br />

<blockquote>(1)選「<b>篩選學生-學期</b>」   (2)選「<b>年級</b>」   (3)選「<b>處理學期-學期</b>」<br />  (4)點選領域即會出現補行評量成績輸入欄位<br />  (5)輸入成績後按下「<b>確定修改</b>」即可儲存<br />  (6)最後要記得按下方的「<b>擇優計算學期成績</b>」</blockquote>
<img src='images/02.jpg' width='640'><br /><br /><br />
<img src='images/02-1.jpg' width='640'><br /><br /><br />
<b>3.擇優記錄：</b><br />

<blockquote>(1)選「<b>學期</b>」   (2)選「<b>年級</b>」即會出現該學期補行評量擇優記錄<br />   (3)最後要記得按「<b>確定寫入學期成績</b>」</blockquote>
<img src='images/03.jpg' width='640'><br /><br /><br />

</TD></TR>
</TABLE>

{{include file="$SFS_TEMPLATE/footer.tpl"}}
