<table width='60%' border='0' cellspacing='0' cellpadding='4' align='center' bordercolor='#CCCCCC'>

<tr><td class =' td_title'><{ $paper_list.chap_name }></td></tr></table>


<table width='100%'  border=' 1' cellspacing='0' cellpadding='4' align='center' bordercolor='#CCCCCC'>
  <tr class =' td_fixed'>
   <td>作者</td>
   <td>作品</td>
  </tr> 
<{foreach name=item_name key=key1 item=v from=$paper_list.item }>  
 <tr class =' td_list'> 
 <td><font size=+1><a href="<{$v.link}>" ><{$v.title}></a></font>
     <br><{$v.classname}> <{$v.name}><br>家長：<{$v.parent}><br>指導老師：<{$v.teacher}>
 </td>
 <td>
    <a href="<{$v.link}>" ><img src="<{$htmlpath}><{ $v.pic_name }>" border="0"></a> 
 </td>
 </tr>     
<{/foreach}> 
</table>