<!DOCTYPE html>
<html lang="en">
<head>
  <title>RWD PAGES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="mainCtrl">

<div class="jumbotron text-center">
  <p>RWD?餃?雿?甈芋蝯?/p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-md-9">
			甇仿?銝嚗?銝erver??敺??Ｗ??恍??暹?批飛?頂蝯御erver蝡舐?鞈???甇斤蝺函Ⅳ敺?json?澆?) </br>
甇仿?鈭???client??敺??Ｗ??恍??暹?找????摰對?雿?甈??寞??箇 (?Ｙ?zip瑼? ???? </br>
甇仿?銝?隢?頛ip瑼?閫??蝮桀??游??冗?曄蔭?典?憭?web銝餅?銝?頝臬??綽?/var/www/html/鞈?憭曉?蝔梧?銝虫耨?鉅ownload甈???77??</br>
甇仿????函汗?其?頛詨->撠?web銝餅?銝? IP/鞈?憭曉?蝔梧??Ｗ??恍??曉飛?頂蝯曹????迤蝣箏摰對?撠勗之????嚗?</br>
</br>
<p>
?酉:</br>
1.撠??eb銝餅?,敹??舀php??</br>
2.雿?RWD(Responsive Web Design)嚗?甇斤車閮剛??桃??舐鈭蝙蝬脤??摰孵隞亙憭車?汗鋆蔭銝霈???迎??獢?餉憿舐內?典銵??餉店?隞????鋆蔭 </br>
?唳?雓??拙?撠?閮撐蝯??閰喟敦摰?隤芣?<p>
		<button ng-click="goServer()">server</button>
		<button ng-click="goClient()">client</button>
		</div>
  </div>
</div>

</body>
</html>

