<!-- $Id: kind_excel.htm 5310 2009-01-10 07:57:56Z hami $ -->

<table border="1"  >
  <tr> 
    <th>(代號)身份別</th>
    <th>學號</th>
    <th>班級</th>
    <th>座號</th>
    <th>姓名</th>
    <th>身分證號</th>
    <th>生日</th>
    <th>地址</th>
    <th >電話</th>
    <th >父親</th>
    <th >母親</th>
    <th >監護人</th>
  </tr>
  {{foreach key=key1 item=data from=$data_array }} 
  <tr>
    <td>{{$data.s_kind}}</td>
    <td>{{$data.stud_id}}</td>
    <td>{{$data.s_year_class}}</td>
    <td>{{$data.s_num}}</td>
    <td>{{$data.stud_name}}</td>
    <td>{{$data.stud_person_id}}</td>
    <td>{{$data.s_birthday}}</td>
    <td>{{$data.s_addres}}</td>
    <td>=T("{{$data.s_home_phone}}")</td>
    <td>{{$data.fath_name}}</td>
    <td>{{$data.moth_name}}</td>
    <td>{{$data.d_guardian_name}}</td>
  </tr>
  {{/foreach}} 
</table>
<br>


