.mytr1{
background-color: #e9e9e9;
}
.mytr2{
background-color: #ffffff;
}
.myselected{
    
    color:#000000;
    background-color: #ffefd5;  
}

.linghtbar{
color:#000000;
    background-color: #d9e9ff;    

}