<!-- //$Id: chc_seme.htm 5310 2009-01-10 07:57:56Z hami $ -->




<table  width='100%'  border='0' align='center' cellpadding='1' cellspacing='1' bgcolor='#9EBCDD' style='table-layout: fixed;word-wrap:break-word;font-size:10pt'>
<tr style='font-size:11pt' bgcolor='#9EBCDD'>
<td width=100%>
<form name='Fix' method='post'>
{{$this->select()}}　
<input type="hidden" name="student_sn" value="" />
</form>
</td>
</td>

</tr>
</table>
<table  width='100%'  border='0' align='center' cellpadding='2' cellspacing='1' bgcolor='#9EBCDD'>
<tr align=center  style='font-size:11pt' bgcolor='white'>
<td rowspan=2 colspan="1" width=4% nowrap>座號</td>
<td rowspan=2 colspan="1" width=6% nowrap>姓　名</td>
<td rowspan=2 colspan="1" width=5% nowrap>學　號</td>

<td rowspan=1 colspan="3" width=15% nowrap>品德服務<font color=blue>(上限20分)</font></td>
<td rowspan=1 colspan="4" width=15% nowrap>績優表現<font color=blue>(上限16分)</font></td>
<td rowspan=2 colspan="1" width=5% nowrap>積分狀況</td>
</tr>
<tr bgcolor='white' align=center>
<td style='font-size:9pt' nowrap>1服務學習<font color=blue>(上限8分)</font>
<td style='font-size:9pt' nowrap>2獎勵記錄<font color=blue>(上限6分)</font></td>
<td style='font-size:9pt' nowrap>3生活教育<font color=blue>(上限8分)</font></td>
<td style='font-size:9pt' nowrap>均衡學習</td>
<td style='font-size:9pt' nowrap>4社團參與<font color=blue>(上限2分)</font></td>
<td style='font-size:9pt' nowrap>5競賽表現<font color=blue>(上限6分)</font></td>
<td style='font-size:9pt' nowrap>6體適能<font color=blue>(上限6分)</font></td>
</tr>
<form name='Fix1' method='post' action="{{$smarty.server.SCRIPT_NAME}}">

<tr bgcolor='white' align=center><td colspan=11>
<input type="hidden" name="class_id" value="{{$this->class_id}}" />

<INPUT TYPE=button  value='返回檢視' onclick="location.href='stud_listB.php?year_seme={{$this->year_seme}}&class_id={{$this->class_id}}';" >
<input type="hidden" name="year_seme" value="{{$this->year_seme}}" />
<input type="hidden" name="class_id" value="{{$this->class_id}}" />
<input type="hidden" name="form_act" value="">
<INPUT TYPE="reset"  value='[R]重設' />
<INPUT TYPE="button"  value='[OK]填好送出' onclick="chcchk()">
<INPUT TYPE=button  value='[X]清空本班' onclick="if( window.confirm('確定清空成績嗎？確定？')){this.form.form_act.value='clearAll';this.form.submit()}">
</td></tr>

{{foreach from=$this->stu item=stu key=st_sn}}

{{assign var="T20" value=$this->tol20(20,$stu.score_service+$stu.score_reward+$stu.score_fault)}}
{{assign var="T16" value=$this->tol20(16,$stu.score_balance+$stu.score_club+$stu.score_race+$stu.score_physical)}}

<tr align=center  style='font-size:10pt' 
bgcolor=white ondblclick="jampb('{{$stu.student_sn}}')"  onMouseOver="this.style.backgroundColor='#FFEBD6'" onMouseOut="this.style.backgroundColor=''">

<td>{{$stu.seme_num}}</td>
<td><a href="stud_perV3.php?Sn={{$stu.student_sn}}" target=_blank>{{if $stu.stud_sex=='1' }}<font color="#0000FF">{{$stu.stud_name}}</font>
{{else}}<font color="#000000">{{$stu.stud_name}}</font>{{/if}}</a></td>
<td>{{$stu.stud_id}}</td>

<td><input type="text" name="score_service[{{$stu.student_sn}}]" value="{{$stu.score_service}}" size="3" maxlength="3" onchange="ser_check(this);" /></td>
<td><input type="text" name="score_reward[{{$stu.student_sn}}]" value="{{$stu.score_reward}}" size="3" maxlength="3" onchange="rew_check(this);" /></td>

<td><input type="text" name="score_fault[{{$stu.student_sn}}]" value="{{$stu.score_fault}}" size="3" maxlength="1" onchange="fau_check(this);" /></td>

<input type="hidden" name="stuname[{{$stu.student_sn}}]" value="{{$stu.stud_name}}" />

<td>{{if $stu.score_balance!=0 && $stu.score_balance!=''}}{{$stu.score_balance}}{{/if}}</td>
<td><input type="text" name="score_club[{{$stu.student_sn}}]" value="{{$stu.score_club}}" size="3" maxlength="3" onchange="clu_check(this);" /></td>
<td><input type="text" name="score_race[{{$stu.student_sn}}]" value="{{$stu.score_race}}" size="3" maxlength="3" onchange="rac_check(this);" /></td>
<td><input type="text" name="score_physical[{{$stu.student_sn}}]" value="{{$stu.score_physical}}" size="3" maxlength="1" onchange="phy_check(this);" /></td>



<td>{{$stu.income+$stu.score_nearby+$T20+$T16}}</td>
</tr>
{{/foreach}}

</form>
</table>

<script>
<!--

function chcchk(){
			var FF=document.Fix1;
			var i ;
			var OK;
			for(i=0; i < FF.elements.length; i++) {
				var OBJ=FF.elements[i].name;
				var OV=FF.elements[i].value;
				//檢查生活教育
				if (OBJ.substr(0,11)=='score_fault') {
					if ( OV!=0 && OV!=2 && OV!=6 && OV!=8 && OV!=''){ 
					OK='Y';var j=i+1;var Oname=FF.elements[j].value;
					alert(Oname+' 生活教育填寫出錯！(只能0,2,6,8)！');
					
					}				
				}
			}
	if (OK=='Y') return false ;
	if( window.confirm('確定送出？')){
		document.Fix1.form_act.value='updateAll';
		document.Fix1.submit();
	}

}
function ser_check(obj){
	var OV=obj.value;
	if(OV>8 | OV<0){
		obj.value='';
		alert('服務學習填寫出錯！(0~8)');
		setTimeout(function(){obj.focus();}, 1);
	}
}

function rew_check(obj){
	var OV=obj.value;
	if(OV!='' && OV!=0 && OV!=0.5 && OV!=1 && OV!=1.5 && OV!=2 && OV!=2.5 && OV!=3 && OV!=3.5 && OV!=4 && OV!=4.5 && OV!= 5 && OV!= 5.5 && OV!=6){
		obj.value='';
		alert('獎勵紀錄填寫出錯！(0~6,小數點後只能.5)');
		setTimeout(function(){obj.focus();}, 1);
	}
}

function fau_check(obj){
	var OV=obj.value;
	if(OV!='' && OV!=0 && OV!=2 && OV!=6 && OV!=8){
		obj.value='';
		alert('生活教育填寫出錯！(只能0,2,6,8)');
		setTimeout(function(){obj.focus();}, 1);
	}
}
function clu_check(obj){
	var OV=obj.value;
	if(OV!='' && OV!=0 && OV!=1 && OV!=2){
		obj.value='';
		alert('社團參與填寫出錯！(只能0,1,2)');
		setTimeout(function(){obj.focus();}, 1);
	}
}

function rac_check(obj){
	var OV=obj.value;
	if(OV!='' && OV!=0 && OV!=0.5 && OV!=1 && OV!=1.5 && OV!=2 && OV!=2.5 && OV!=3 && OV!=3.5 && OV!=4 && OV!=4.5 && OV!= 5 && OV!= 5.5 && OV!=6){
		obj.value='';
		alert('競賽表現填寫出錯！(0~6,小數點後只能.5)');
		setTimeout(function(){obj.focus();}, 1);
	}
}

function phy_check(obj){
	var OV=obj.value;
	if(OV!='' && OV!=0 && OV!=1 && OV!=2 && OV!=3 && OV!=4 && OV!=5 && OV!=6){
		obj.value='';
		alert('體適能填寫出錯！(0~6整數)');
		setTimeout(function(){obj.focus();}, 1);
	}
}


//-->
</script> 

