/*$Id: css.css 5623 2009-09-02 15:27:55Z brucelyc $*/
.hovertip {
	position: absolute;
    display: none; /* in case javascript is disabled */
	width: 270px;
	height:350px;
    background: url('sub-bg.png') no-repeat;
	font-size: 12px;
	z-index: 100;
	margin-left: 5px;
	margin-top: 10px;
}
 .hovertip_target:hover {
	text-decoration: none;
	cursor:help;
}
ul.hovertip {
	width:200px;
	padding-top:30px;
	padding-left:10px;
	height:95px;
	padding-bottom:20px;
	display:block
}