{{* $Id: fix_tool.htm 5310 2009-01-10 07:57:56Z hami $ *}}
<style type="text/css">
.mei{border-style: solid; border-width: 0px; background-color:#E6ECF0; font-size:12pt;}
.bu1{border-style: groove;border-width:1px: groove;background-color:#CCCCFF;font-size:12px;Padding-left:0 px;Padding-right:0 px;}
.bur{border-style: groove;border-width:1px: groove;background-color:#FFFFFF;font-size:12px;Padding-left:0 px;Padding-right:0 px;}
.bur2{color:red;border-style: groove;border-width:1px: black;background-color:#FFFFFF;font-size:10pt;Padding-left:0 px;Padding-right:0 px;}

</style>
<script>
function tall(NAME,NUM) {
	var i =0;
	while (i < document.f1.elements.length) {
	var obj=document.f1.elements[i];
	var objx=document.f1.elements[i].name;//取得名稱
	// objx.substr(0,4)取得部分字串
	if (obj.type=='checkbox' && objx.substr(0,NUM)==NAME ) {
		if (obj.checked==1 ) {obj.checked=0;}	else { obj.checked=1;}
	}
	i++;
	}
}


function Notall(NAME,NUM) {
	var i =0;
	while (i < document.f1.elements.length) {
	var obj=document.f1.elements[i];
	var objx=document.f1.elements[i].name;//取得名稱
	// objx.substr(0,4)取得部分字串
	if (obj.type=='checkbox' && objx.substr(0,NUM)==NAME ) {
		if (obj.checked==1 ) {obj.checked=0;}
	}
	i++;
	}
}
</script>


<HR size=1 color=red>
<form name="form" method="post" action="{{$PHP_SELF}}">
    <font color="red">■</font>輸入學號以查詢學生(至少兩位數字)<br>
學　號：<input type="text" name="stud_id" size="12"  class=mei>
<INPUT TYPE=button  value='查詢後觀察再處理' onclick="if( window.confirm('檢視？確定？')){this.form.form_act.value='found';this.form.submit()}">
<INPUT TYPE=button  value='直接處理該學號(限一人)' onclick="if( window.confirm('確定？僅處理該學號!')){this.form.form_act.value='fixOne';this.form.submit()}">
<INPUT TYPE='hidden' Name='form_act' value=''>

</form>
<form  method="post" action="{{$PHP_SELF}}" name="f1">
<TABLE border=0 width=60% style='font-size:12pt;'  cellspacing=1 cellpadding=0 bgcolor=#9EBCDD>
<TR bgcolor=#9EBCDD><td nowrap colspan="7" ><B>stud_seme學期表-----搜尋結果</B>
{{if $this->all!=''}} 
<INPUT TYPE='hidden' Name='form_act' value=''>
<INPUT TYPE='hidden' Name='page' value='{{$this->page}}'>

<input type="button" value="全選/反向/取消" onclick="tall('StuID',5)" class=r1>
<input type="button" value="全部取消" onclick="Notall('StuID',5)" class=r1>
<input type="button" value=">>選好後按我進行修正"  class='rr'   onclick="if( window.confirm('要寫入了喔？確定？')){this.form.form_act.value='fix';this.form.submit()}">
{{/if}}
</td></tr>
<tr bgcolor="#ffffff" style='color:#800000;font-size:13px;' align='center'>
<td nowrap>NO</td>
<td nowrap>學號<br>stud_id</td>
<td nowrap>流水號</td>
<td nowrap>姓名</td>
<td nowrap>獎懲筆數</td>
<td nowrap>性別<br>stud_sex</td>
<td nowrap>就學狀況<br>stud_study_cond</td>
<td nowrap>目前年班<br>curr_class_num</td>
<td nowrap>學期記錄<br>stud_seme表</td>
</tr>
{{assign var="NO" value=1}}
{{foreach from=$this->all item=data key=K}}
<tr bgcolor="#ffffff" style='color:#000000;font-size:15px;' align='center'>
<td rowspan="2" style="vertical-align: middle;">{{$NO}}</td>
<td rowspan="2" style="vertical-align: middle;" nowrap>
<label><input type="checkbox" name="StuID[{{$K}}]" value="{{$K}}">
{{$K}}</label></td>
<td nowrap>{{$data.A.student_sn}}</td>
<td nowrap>{{$data.A.stud_name}}</td>
<td nowrap>{{$data.A.rewTol}}</td>
<td nowrap>{{$data.A.stud_sex}}</td>
<td nowrap>{{$data.A.stud_study_cond}}</td>
<td nowrap>{{$data.A.curr_class_num}}</td>
<td nowrap>{{$data.A.semeTol+0}}筆</td>
</tr>
<tr bgcolor="#ffffff"  align='center'>
<td nowrap>{{$data.B.student_sn}}</td>
<td nowrap>{{$data.B.stud_name}}</td>
<td nowrap>{{$data.B.rewTol}}</td>
<td nowrap>{{$data.B.stud_sex}}</td>
<td nowrap>{{$data.B.stud_study_cond}}</td>
<td nowrap>{{$data.B.curr_class_num}}</td>
<td nowrap>{{$data.B.semeTol+0}}筆</td>
</tr>
{{assign var="NO" value=$NO+1}}
{{/foreach}}
</table>
</form>
<p>PS:<br>
1.程式用於修正學生因學號重複問題而產生獎懲記錄錯誤問題。<br>
2.建議每次只輸入學號的前<strong style="color: #FF0000; ">3</strong>位數字作查詢，以免伺服器負載過重。<br />
3.本功能取用 stud_seme 學生學期資料表作為判斷依據。
</p>
<BR>

<DIV style="color:blue">
◎By 彰化縣學務系統開發小組  於 101.11.14(三)</DIV>


