<!-- //$Id: chc_seme_rank_class.htm 5310 2009-01-10 07:57:56Z hami $ -->

<table  width='100%'  border='0' align='center' cellpadding='2' cellspacing='1' bgcolor='#9EBCDD'>
<tr align=center  style='font-size:10pt' bgcolor='white'>
<td  width=4% rowspan="2" nowrap>座號</td>
<td  width=6% rowspan="2" nowrap>姓　名</td>
<td  width=5% rowspan="2" nowrap>學　號</td>
<td colspan="3" nowrap>月考分數</td>
<td colspan="3" nowrap>月考名次</td>
<td colspan="3" nowrap>月考二進退步<br>  </td>
<td colspan="3" nowrap>月考三進退步</td>
</tr>
<tr align=center  style='font-size:10pt' bgcolor='white'>
  <td  width=5% nowrap bgcolor="#FFFFCC"><div align="center">一</div></td>
  <td  width=5% nowrap bgcolor="#FFFFCC"><div align="center">二</div></td>
  <td  width=5% nowrap bgcolor="#FFFFCC"><div align="center">三</div></td>
  <td  width=5% nowrap bgcolor="#FFCCFF"><div align="center">一</div></td>
  <td  width=5% nowrap bgcolor="#FFCCFF"><div align="center">二</div></td>
  <td  width=5% nowrap bgcolor="#FFCCFF"><div align="center">三</div></td>
  <td nowrap bgcolor="#CCFFFF">分數</td>
  <td nowrap bgcolor="#CCFFFF">名次</td>
  <td nowrap bgcolor="#CCFFFF">比例(%)</td>
  <td nowrap bgcolor="#CCCCFF">分數</td>
  <td nowrap bgcolor="#CCCCFF">名次</td>
  <td nowrap bgcolor="#CCCCFF">比例(%)</td>
</tr>

{{foreach from=$this->stu item=stu key=st_sn}}

<tr align=center  style='font-size:10pt' bgcolor='{{cycle values="#FFFFFF,#E6ECF0"}}' >
<td>{{$stu.seme_num}}</td>
<td>{{if $stu.stud_study_cond!='0' }}<font color="#0000FF">{{$stu.stud_name}}</font>
{{else}}{{$stu.stud_name}}{{/if}}</td>
<td>{{$stu.stud_id}}</td>
<td>{{$stu.1}}</td>
<td>{{$stu.2}}</td>
<td>{{$stu.3}}</td>
<td>{{$stu.sco_order1}}</td>
<td>{{$stu.sco_order2}}</td>
<td>{{$stu.sco_order3}}</td>
<td>{{$stu.diff2}}</td>
<td>{{$stu.diff_order2}}</td>
<td>{{$stu.GainRate2}}</td>
<td>{{$stu.diff3}}</td>
<td>{{$stu.diff_order3}}</td>
<td>{{$stu.GainRate3}}</td>
</tr>

{{/foreach}}
</table>
說明：<br>
<ul>
   <li>「進退步分數」計算方式：以這次分數減去上次分數。<br>
   <li>「進步比例」計算方式：以這次進步分數 <font color='#FF0000'>除以</font> 這次「可」進步分數（如：這次392分，上次380分，則進步18分，這次滿分400分，進步比例算法為 (392-380)÷(400-380)×100%=60% ）。若退步則<font color='#FF0000'>不</font>計算比例，以「--」顯示。<br>
   <li>「進退步名次」計算方式：以這次名次減去上次名次。<br>
</ul>
