<TABLE width='650'  border='0'>
<TR><TD align=left>
學籍成績處理系統補考模組說明<br />

壹、依據：<br />

<p>中華民國102年7月16日彰府教學自第1020217812號修正函，彰化縣國中〈小〉學生成績評量要點第九條，學生各學期各學習領域之成績未達60分及格基準者，均得予補考訂定之。
</p>

貳、說明：<br />

<ol><li>補考及格者以60分採計。</li>
<li>補考不及格者，該領域成績就補考成績或原成績擇優登錄。</li>
<li>本模組所計算的補考採計成績只提供畢業篩選，不用於申請獎學金或升學的成績證明。</li>
</ol>

<br />
參、模組操作說明<br />

<b>1.補考學生篩選：</b><br />

<blockquote>a.選(學年學期)   b.選(年級)   c.選(領域)  d.按(勾選)列入補考名冊</blockquote>
<img src='images/01.jpg' width='640'><br /><br /><br />
<b>2.補考成績輸入：</b><br />

<blockquote>a.選(學年學期)   b.選(年級)   c.選(領域)  d.輸入學生補考成績</blockquote>
<img src='images/02.jpg' width='640'><br />
<blockquote>e.按儲存後出現下列畫面，列出採計結果</blockquote>
<img src='images/03.jpg' width='640'><br /><br /><br />


   
<b>3.補考成績列表：</b><br />
<img src='images/04.jpg' width='640'><br /><br /><br />


<b>4. 補考成績證明：</b><br />
<blockquote>a.選(學年學期)   b.選(年級)   c.選(學生)<br>   
d.按(列印)可印出該生的補考成績紙本證明書</blockquote>
<img src='images/05.jpg' width='640'><br /><br /><br />

<b>5.修業學生篩選：可篩選出四領域不及格學生。</b><br /><br /><br /><br />



</TD></TR>
</TABLE>