<script type="text/javascript">
function check_all_select(obj,cName)
{
    
    var checkboxs = document.getElementsByName(cName);
    for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
    //alert(cName);
}
</script>
<TABLE border=0 width=100% cellspacing='1' cellpadding=1>

<TR bgcolor=#9EBCDD>


<td width=100%  style="vertical-align: top;" colspan=2>
<!-- 第1格內容 -->

{{$this->sel_year}}{{$this->sel_grade}} <FONT  COLOR="#FFFFFF"><B>課程設定列表</B></FONT>
</td>
</tr>
<TR bgcolor=#9EBCDD>
<td colspan=2>
<!-- 班級資料區段 --開始-->
{{if $smarty.get.Y!='' && $smarty.get.G!=''}}

<TABLE  border=0 width=100% style='font-size:10pt;' cellspacing='1' cellpadding=1  >
<TR bgcolor=white>
{{foreach from=$this->scope item=ii key=KK}}
{{if $smarty.get.S==$KK}}
<td bgcolor="#9EBCDD"><label><input type="checkbox" value="{{$KK}}" onclick="location.href='{{$smarty.server.PHP_SELF}}?Y={{$this->Y}}&G={{$this->G}}&S={{$KK}}'"   checked="checked">{{$KK}}.{{$ii}}</label></td>
{{else}}  
<td ><label><input type="checkbox" value="{{$KK}}" 
onclick="location.href='{{$smarty.server.PHP_SELF}}?Y={{$this->Y}}&G={{$this->G}}&S={{$KK}}'" >{{$KK}}.{{$ii}}</label></td>
{{/if}}
{{/foreach}}
</TR>
</TABLE>
{{/if}}

<TABLE  border="0" cellspacing="1" cellpadding="4" width="100%" bgcolor="#cccccc" class="main_body" >

<tr bgcolor="#E1ECFF" align="center">
<td>全選<input type="checkbox" name="all" onclick="check_all_select(this,'sel[]')"</td>
<td>班級</td><td>座號</td><td>學號</td><td>姓名</td></td>{{foreach from=$this->link_ss item=sn key=ssn}}<td>{{$sn}}</td>{{/foreach}}<td>平均</td></tr>

<form action={{$smarty.server.PHP_SELF}} method="post">

{{foreach from=$this->all_ary item=sn key=ssn}}
<TR bgcolor=white>
<td><input type="checkbox" id="" name="sel[]" value="{{$sn.student_sn}}_n_{{$sn.average}}" {{if $sn.average<60}}  checked="checked"{{/if}}></td>
<td>{{$sn.seme_class}}</td>
<td>{{$sn.seme_num}}</td>
<td>{{$sn.stud_id}}</td>
<td>{{$sn.stud_name}}</td>

{{foreach from=$this->link_ss item=link_sn key=link_ssn}}
<td><font {{if $sn.$link_ssn<60}}color=#EE5566{{/if}}>{{$sn.$link_ssn}}</font></td>
{{/foreach}}

<td><font {{if $sn.average<60}}color=#EE5566{{/if}}>{{$sn.average|string_format:"%.2f"}}</font></td>
</TR>
{{/foreach}}
</TABLE>

<TABLE  border="0" cellspacing="1" cellpadding="4" width="100%" bgcolor="#cccccc" class="main_body" >
<TR bgcolor=white>
<TD align=center>
<INPUT TYPE="reset"  value='重設' class=bur2 >

<INPUT TYPE=button  value='將鉤選者列入補考名冊' onclick="if( window.confirm('確定列入補考名冊？確定？')){this.form.form_act.value='saveData';this.form.submit()}" class=bur2>
<INPUT TYPE='hidden' NAME='form_act'  value=''>
<INPUT TYPE="hidden" name='S' value='{{$this->S}}'>
<INPUT TYPE="hidden" name='Y' value='{{$this->Y}}'>
<INPUT TYPE="hidden" name='G' value='{{$this->G}}'>

</tr>
</form>
</TABLE>
</TABLE>







<BR><BR>

註：<div style="font-size:9pt;color:blue">


<FONT SIZE="2" >
<DIV style="color:blue" onclick="alert('開發小組：\n陽明 江添河 湖南 許銘堯\n二林 紀明村 和仁 曾彥鈞\n大成 黃俊凱 和東 王麒富\n鳳霞 林建伸 伸港 梁世憲\n\n意見提供：\n線西 許毅貞 北斗 顏淑兒\n埤頭 洪淑瓊 二中 王文村\n花壇 施皇仰 舊社 徐千惠');">
◎By 彰化縣學務系統開發小組  於 103.10 </DIV></FONT>
<DIV>根據府教學字第1050077466號公文，學校成績應統一無條件進位，對學生較為有利。故補考學生篩選的成績平均經無條件進位後，才呈現。</DIV>



