{{* $Id: scope_head.htm 5310 2009-01-10 07:57:56Z hami $  *}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=big5">
	<TITLE></TITLE>
	<STYLE>
	<!--
		@page { size: 21cm 29.7cm; margin-left: 2cm; margin-right: 2cm }
		P { margin-bottom: 0.21cm }
		P.western { font-family: "標楷體", cursive }
		P.cjk { font-family: "標楷體", cursive }
		TD P { margin-bottom: 0.21cm }
		TD P.western { font-family: "標楷體", cursive }
		TD { line-height: 16px; font-family: "標楷體", cursive; }
	-->
	</STYLE>
</HEAD>
<BODY onload="self.print();">
