<table width="97%" border="0" cellspacing="2" cellpadding="4" > 
<tr >     
    <td width="60%" rowspan="3" class="td_title" > <{$paper_doc.title}></td> 
    <td class="td_author"><{$paper_doc.classname}><{$paper_doc.author}></td></tr> 
    <td class="td_author">家長:<{$paper_doc.parent}></td></tr> 
    <td class="td_author">指導老師:<{$paper_doc.teacher}></td>
</tr> 

<tr> 
<td colspan="2" class="td_doc">
  <{$paper_doc.doc}>
</td> 
</tr> 

 <tr>
    <td colspan="2" class="td_foot"> 
      <a href="javascript:history.go(-1)">回上頁</a>
    </td>
 </tr>
</table>